<div class="row">
    <form [formGroup]="form" (ngSubmit)="crear()">
      <mat-form-field>
        <mat-label>Nombre</mat-label>
        <input matInput formControlName="nombre" type="text" />
      </mat-form-field>
      <br />
      <mat-form-field>
        <mat-label>Apellido</mat-label>
        <input matInput formControlName="apellido" type="text" />
      </mat-form-field>
      <br />
      <mat-form-field>
        <mat-label>Documento</mat-label>
        <input matInput formControlName="documento" type="text" />
      </mat-form-field>
      <br />
      <button
        type="submit"
        mat-raised-button
        color="primary"
        [disabled]="form.invalid"
      >
        Crear Chofer
      </button>
    </form>
  </div>
  