<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a href="#" class="navbar-brand">{{ logoTitle }}</a>
    </div>

    <div class="collapse navbar-collapse navbar-default">
      <ul class="nav navbar-nav navbar-right">
        <li routerLinkActive="active"><a routerLink="/lineas">Lineas</a></li>
<!--         <li><a href="#">Colectivos</a></li> -->
        <li routerLinkActive="active"><a routerLink="/choferes">Choferes</a></li>
<!--         <li><a href="#">Paradas</a></li>
        <li><a href="#">Recorridos</a></li> -->
      </ul>
    </div>
  </div>
</nav>
